[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/oren/.local/bin/rofi-bluetooth/rofi-bluetooth
Name=Bluetooth Menu

